@font-face {
	font-family: NotoSansTC;
	src: url(https://fonts.googleapis.com/css?family=Noto+Sans+TC);
}

body {
  padding-top: 5rem;
	font-family: NotoSansTC;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
